<div class="max-w-[1100px] w-full">
  <div class="font-semibold mb-6 w-full h-8">
    Filtros
  </div>
  <div cdkDropListGroup class="grid grid-cols-1 lg:grid-cols-3 gap-6 w-full">
    @for (entry of framesMap.entries(); track entry[0]) {
      <div>
        <div class="flex flex-col space-y-1.5 p-4">
          <h3 class="tracking-tight text-sm font-medium text-black">
            {{entry[1].title}} ({{entry[1].orders.length}})
          </h3>
        </div>
        <section 
          cdkDropList
          [cdkDropListData]="entry[1].orders"
          (cdkDropListDropped)="drop($event)"
          [id]="entry[0]"
          [attr.data-empty]="entry[1].orders.length == 0"
          class="
            frame
            space-y-3 sm:max-h-[calc(100vh-14.9rem)] lg:h-[calc(100vh-14.9rem)] 
            overflow-y-auto p-1 pt-0 scrollbar scrollbar-hide hover:scrollbar-show
            bg-transparent
          "
        >
          @if(entry[1].orders.length == 0){
            <div 
              class="
                overflow-hidden bg-transparent  rounded-md
                h-40 border-dashed border-3 border-zinc-300 text-zinc-300
                flex justify-center items-center
              "  
            >
              <ng-icon [size]="'30px'" name="lucideSquareDashedMousePointer" />
            </div>
          }
          @for (data of entry[1].orders; track data.id) {
            <div cdkDrag class="overflow-hidden bg-transparent shadow-md rounded-md transition-transform ease-linear cursor-grab active:cursor-grabbing"  >
              <app-order-card [data]="data" />
            </div>
          }
        </section>
      </div>
    }
  </div>
</div>