<div  class="w-full h-full flex flex-col justify-center items-center" >
  
  <form *ngIf="!makeRequest" class="flex flex-col gap-6 w-full max-w-xs" [formGroup]="formGroup" (submit)="submitLogin($event)"  >

    <div class="flex flex-col items-center gap-2 text-center">
      <h1 class="text-2xl font-bold">Recuperar Senha!</h1>
      <p class="text-balance text-sm text-muted-foreground">
        Informe seu email e clique em "Recuperar senha". <br> Você receberá um e-mail com instruções para redefinir sua senha.
      </p>
    </div>

    <div class="grid">

      <div class="grid gap-1 mb-2">
        <label htmlFor="username">Email</label>
        <input
          required hlmInput [error]="false" formControlName="email"
          id="username" type="email" placeholder="Digite seu email"
        />
        <span class="text-destructive text-xs h-5 text-end" >
          @if ( email?.invalid && (email?.dirty || email?.touched) ) {
            @if (email?.hasError('required')) {Informe seu email!}
            @if (email?.hasError('email')) {Insira um email válido!}
          }
        </span>
      </div>

      <button hlmBtn type="submit" class="w-full mb-6" [disabled]="formGroup.invalid" >
        Enviar Email
      </button>

      <div class="relative text-center text-sm after:absolute after:inset-0 after:top-1/2 after:z-0 after:flex after:items-center after:border-t after:border-border">
        <span class="relative z-10 bg-background px-2 text-muted-foreground">
          &copy; oTrack inc.
        </span>
      </div>

    </div>
    
  </form>

  <div *ngIf="makeRequest" class="flex flex-col items-center gap-2 text-center max-w-xs">
    <h1 class="text-3xl font-bold">Recuperar Senha</h1>
    <h2 class="text-xl" >Email Enviado!!</h2>
    <span class="flex justify-center items-center text-primary p-4" > 
      <ng-icon [size]="'10rem'" hlm name="lucideMailCheck" />
    </span>
    <p class="text-sm text-muted-foreground">
      Um e-mail foi enviado para o endereço informado. Siga as instruções para redefinir sua senha.
    </p>
  </div>

</div>

