<div class="w-full h-full flex flex-col justify-center items-center" >
  
  <form *ngIf="ticketIsValid && !makeRequest"  class="flex flex-col gap-6 w-full max-w-xs" [formGroup]="formGroup" (submit)="submitLogin($event)"  >

    <div class="flex flex-col items-center gap-2 text-center">
      <h1 class="text-2xl font-bold">Bem Vindo!</h1>
      <p class="text-balance text-sm text-muted-foreground">
        Insira seu usuário e senha para acessar sua conta.
      </p>
    </div>

    <div class="grid">

      <div class="grid gap-1">
        <label htmlFor="password">Nova senha:</label>
        <input
          required hlmInput formControlName="password"
          id="password" placeholder="Digite sua senha"
          [type]="showPassword?'text':'password'"
        />
        <span class="w-full text-end text-destructive text-xs h-5" >
          @if ( password?.invalid && (password?.dirty || password?.touched) ) {
            @if (password?.hasError('required')) {Insira sua nova senha!}
            @if (password?.hasError('passwordMismatchError')) {As senhas informadas não coincidem.}
          }
        </span>
      </div>

      <div class="grid gap-1">
        <label htmlFor="password">Confirmar senha</label>
        <input
          required hlmInput formControlName="confirmPassword"
          id="confirmPassword" placeholder="Digite sua senha"
          [type]="showPassword?'text':'password'"
        />
        <span class="w-full text-end text-destructive text-xs h-5" >
          @if ( confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched) ) {
            @if (confirmPassword?.hasError('required')) {Repita sua senha para confirmar!}
            @if (confirmPassword?.hasError('passwordMismatchError')) {As senhas informadas não coincidem.}
          }
        </span>
      </div>
      
      <div class="flex justify-between items-center mb-5">
        <label hlmLabel htmlFor="show-password" class="flex items-center gap-2 pl-1 my-1 text-sm font-normal">
          <hlm-checkbox (changed)="showPassword = !showPassword" />
          Exibir senha
        </label>
      </div>

      <button hlmBtn type="submit" class="w-full mb-6" [disabled]="formGroup.invalid" >
        Salvar Senha
      </button>

      <div class="relative text-center text-sm after:absolute after:inset-0 after:top-1/2 after:z-0 after:flex after:items-center after:border-t after:border-border">
        <span class="relative z-10 bg-background px-2 text-muted-foreground">
          &copy; oTrack inc.
        </span>
      </div>

    </div>
    
  </form>

  <div *ngIf="!ticketIsValid && !makeRequest" class="flex flex-col items-center gap-2 text-center max-w-xs">
    <h1 class="text-3xl font-bold">Recuperar Senha</h1>
    <h2 class="text-xl" >Link inválido</h2>
    <span class="flex justify-center items-center p-8 text-red-500" > 
      <ng-icon [size]="'10rem'" hlm name="lucideFrown" />
    </span>
    <p class="text-sm text-muted-foreground">
      O link fornecido é inválido ou expirou. Por favor, solicite um novo link de recuperação.
    </p>
  </div>

  <div *ngIf="makeRequest" class="flex flex-col items-center gap-2 text-center max-w-xs">
    <h1 class="text-3xl font-bold">Redefinir Senha</h1>
    <h2 class="text-xl" >Senha atualizada com sucesso!!</h2>
    <span class="flex justify-center items-center text-primary p-4" > 
      <ng-icon [size]="'10rem'" hlm name="lucideCircleCheckBig" />
    </span>
    <a [routerLink]="['/auth/login']" class="text-muted-foreground underline">
      Voltar para a página de login
    </a>
  </div>

</div>